---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/profile.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Maanika Suri</h1>
      <h2 class="text-base dark:text-white">
        <a href="https://maps.app.goo.gl/mc6dZBjrUN8KuChFA" 
        target="_blank" 
        class="hover:text-red-500 dark:text-white dark:hover:text-red-500">
        6363 Agronomy Rd, Vancouver, BC V6T IZ4
        </a>
      </h2>
      <h3 class="text-base dark:text-white">
        <a href="tel:7786332700"
           class="hover:text-red-500 dark:text-white dark:hover:text-red-500">
          +1 778-633-2700
        </a>
        |
        <a href="mailto:maanikasuri@gmail.com"
           class="hover:text-red-500 dark:text-white dark:hover:text-red-500">
          maanikasuri@gmail.com
        </a>
      </h3>
      <h3 class="text-base dark:text-white">
        <a href="https://www.linkedin.com/in/maanika-suri-a9862b29a/"
           target="_blank"
           class="hover:text-red-500 dark:text-white dark:hover:text-red-500">
          LinkedIn
        </a>
      </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />
      <RowEntry name="Sept 2023 - Apr 2027" title="Bachelor of Commerce, intended finance specialization" subTitle="University of British Columbia, Sauder School of Business">
        <ul>
          <li>Location: Vancouver, BC, Canada</li>
        </ul>
      </RowEntry>
    </div>
    
    <div id="professional-experience" class="mb-6">
      <SectionTitle title="Professional Experience" />
      
      <RowEntry name="Sept 2023 - Present" title="First Year Representative" subTitle="UTSAV- UBC Indian Students’ Association">
        <ul>
          <li>Spearheaded initiatives, resulting in a 20% increase in event attendance and a 30% rise in community engagement.</li>
          <li>Organized cultural celebrations like Diwali and Holi, implemented targeted marketing strategies.</li>
        </ul>
      </RowEntry>
      
      <RowEntry name="Jul 2022 - Jun 2023" title="Treasurer" subTitle="Rotary Club">
        <ul>
          <li>Spearheaded initiatives to address transparency concerns, resulting in a 30% improvement in trust and satisfaction.</li>
          <li>Raised Rs 50,000 through fundraising campaigns, establishing sustainable funding sources for projects.</li>
        </ul>
      </RowEntry>
    </div>
    
    <div id="extra-curricular" class="mb-6">
      <SectionTitle title="Extra-Curricular Activities" />
      <RowEntry name="Feb 2024 - Present" title="Volunteer Assistant" subTitle="Big Brothers of Greater Vancouver">
        <ul>
          <li>Played a pivotal role in supporting annual events, increased event efficiency by 25%.</li>
          <li>Provided vital support to over 500 participants, managing a water station with attentiveness.</li>
        </ul>
      </RowEntry>
    </div>
    
    <div id="interests" class="mb-6">
      <SectionTitle title="Interests" />
      <p class="dark:text-white">
        Strategic Investment: Managing a personal stock portfolio has been an enriching hobby where I continuously research and analyze various investment opportunities.
      </p>
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/maanika-suri-a9862b29a/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains("dark")
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>